:root {
  --color-component: #edeef0;
  --color-selection-font: green;
  --color-background: #e1e5eb;
  --color-button-link: #507299;
  --color-header: #2e5473;
  --color-border: #d0d0d0;
  --color-link-hover: rgba(46, 84, 115, .1);
  --color-selection-background: rgba(46, 84, 115, .2);
  --default-font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

*::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-font);
}

body {
  background-color: var(--color-background);
  font-size: var(--default-font-size);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: var(--color-header);
  padding: 0.5rem 0;
}
.header__logo {
  margin-left: 10%;
}

.footer {
  background-color: var(--color-component);
  padding: 0.5rem;
}
.footer__text {
  color: gray;
  text-align: center;
}

.app {
  margin: 0 auto;
  max-width: 60%;
  min-width: 80rem;
  padding: 2rem 0;
  display: flex;
  position: relative;
}
@media (max-width: 43.75em) {
  .app {
    flex-direction: column;
    min-width: 40rem;
  }
}
.app::after {
  content: "";
  flex: 0.5;
}
.app > *:not(:last-child) {
  margin-right: 1.5rem;
}
@media (max-width: 43.75em) {
  .app > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.sidebar {
  flex: 0.5;
}
.sidebar__list {
  list-style: none;
}
@media (max-width: 43.75em) {
  .sidebar__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.sidebar__link {
  display: block;
  padding: 1rem;
  transition: background-color 0.15s;
}
.sidebar__link:link, .sidebar__link:visited {
  color: var(--color-button-link);
  text-decoration: none;
}
.sidebar__link::first-letter {
  text-transform: uppercase;
}
.sidebar__link:hover {
  background-color: var(--color-link-hover);
}

.messages {
  flex: 1;
}
.messages__message {
  background-color: var(--color-component);
  padding: 2rem;
  border: 0.15rem solid var(--color-border);
  border-radius: 1rem;
}
.messages__message:not(:last-child) {
  margin-bottom: 2rem;
}
.messages__title {
  padding-bottom: 1rem;
  position: relative;
}
.messages__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 4rem);
  height: 0.3rem;
  background-color: rgba(128, 128, 128, 0.4);
}
.messages__content {
  margin-bottom: 1rem;
}
.messages__content--titled {
  margin: 1rem 0;
}
.messages__image {
  width: 100%;
}
.messages__feedback {
  border-top: 0.35rem solid var(--color-border);
  padding: 1rem 0 0;
  display: flex;
  justify-content: space-between;
}
.messages__feedback > * {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.7rem;
  color: var(--color-button-link);
  cursor: pointer;
}

.important {
  position: fixed;
  top: 7rem;
  right: 15%;
}
@media (max-width: 67.5em) {
  .important {
    display: none;
  }
}
.important__info {
  width: 16rem;
  background-color: var(--color-component);
  border: 0.15rem solid var(--color-border);
  border-radius: 0.6rem;
  padding: 2rem 1rem;
}
.important__info:not(:last-child), .important__info > *:not(:last-child) {
  margin-bottom: 2rem;
}
.important__title {
  margin-left: 0.5rem;
  font-size: var(--default-font-size);
}
.important__text {
  background-color: var(--color-border);
}

/*# sourceMappingURL=style.css.map */
